<div class="jumbotron">
  <h1 class="display-3">¡Bienvenido a BanKaleb!</h1>
  <p class="lead">BanKaleb es el banco de Juventud kaleb que te ayuda con tus metas de ahorro pro-campamaneto.
    Este año esperamos cumplir nuestras metas, gracias por escogernos</p>
  <hr class="my-4">
  <p>Empieza ahora mismo, regístrate o inicia sesion para conocer más</p>
  <p class="lead">
    <%= link_to 'Registrate!',
                  signup_path, :class => 'btn btn-primary btn-lg'  %>

    <%= link_to 'Inicia Sesión',
                  login_path, :class => 'btn btn-primary btn-lg'  %>
  </p>
</div>
